
a {
    text-align: center;
    font-size: 70px;
    color: #53d9d1;
    display: block;
    
    
}

body {
    background-color:  #53d9d1;
    margin: 0;
    
}



#zdj1 {
    float: left;
    height: auto;
    width: 30%;
    opacity: 0.8;
    border-radius: 800px;
    border: 30px solid #000000;
    transition: 2s;
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    
}

#zdj1:hover {
    animation-name: rotate;
    opacity: 1.0;
    animation-duration: 1.5s;
    
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }




#link1 {
    background-color: #000000;
    text-align: center;
    transition: 2s;
    border-radius: 50px;
    float: left;
    width: 40%;
    margin-left: 20%;
    margin-top: 5%;
    height: 200px;
}

#link2 {
    background-color: #000000;
    text-align: center;
    transition: 2s;
    border-radius: 50px;
    float: left;
    width: 40%;
    margin-left: 20%;
    margin-top: 5%;
    height: 250px;
}

#link3 {
    background-color: #000000;
    text-align: center;
    transition: 2s;
    border-radius: 50px;
    float: left;
    width: 40%;
    margin-left: 20%;
    margin-top: 5%;
    height: 200px;
}



#link1:hover{
    
    background-color: darkblue;
    transition-duration: 2s;
    border-radius: 150px;
  
}

#link2:hover {
    background-color: darkblue;
    transition-duration: 2s;
    border-radius: 150px;
}

#link3:hover {
    background-color: darkblue;
    transition-duration: 2s;
    border-radius: 150px;
}

div a:hover{
    transition: 2s;
    color: purple;
}


#XD{
text-decoration: underline;
}